.b-input-attr-form-field{
	
}
.b-total-basic{
	
}
.c-archives{
	background-color: pink;
}
.c-calculation-attr-input-form{
	
}
.c-calculation-product-selector{
	
}
.c-calculation{
	
}
.c-dashboard{
	
}
.c-input-form-book{
	
	

}
@import "vars.scss";

.c-input-form-default{
	
	.gcalc_fgroup{
		font-size: $normal-text-size;
		padding: .6rem;
		margin-bottom: 1rem; 
		background-color: $pri-normal-ui-bg-color;
		border: 1px solid darken($pri-normal-ui-bg-color, .2);
		border-radius: .6rem;

		&__label{ 
			color:$pri-normal-ui-bg-text-color; 
		}

	}

}
.e-total-calculation{
	
}
.e-total-production-process{
	}
.f-archives-calculations{
	
}
.f-total-production-processes{
	
}
.login-form{
	
	background-color:orange;
	display:flex;

	.login__input{
	
		background-color:purple;
		border:2px solid green;
	}
}
.main{
	
}