/* CSS Document */
@import "vars.scss";


body{

	font-size: 62.5%;
	font-family: $pri-font-family;
	
} 

#app-gcalcui{ 
	background-color : $pri-bright-ui-bg-color; 
	
	.fa-icon {
	  width: auto;
	  height: 1em; /* or any other relative font sizes */

	  /* You would have to include the following two lines to make this work in Safari */
	  max-width: 100%;
	  max-height: 100%;
	} 
}