/* CSS Document */
@import "vars.scss";  


body{

	font-size: 62.5%;
	font-family: $pri-font-family;
	
} 


.login-screen{
	height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.app-gcalcui{ 
	background-color : $white; 
	

	&__top-bar{
		height          : #{$text-sizer*2}rem;
		background-color: $pri-bright-ui-bg-text-color;
		color           : $pri-bright-ui-bg-color;
		border-bottom   :1px dotted rgba( $pri-bright-ui-bg-color, .3);
	}

	&__left-menu{
		background-color: $pri-bright-ui-bg-text-color;
		padding-right   : 0 !important;
    	padding-left    : 0 !important;

		ul{
			list-style: none;

			li{
				display      : flex;
				position     : relative;
				margin-bottom: #{$text-sizer*.3}rem;
				margin-top   : #{$text-sizer*.3}rem;

				a{
					color          : $pri-bright-ui-bg-color;
					font-family    :$pri-font-family;
					font-size      : $small-text-size;
					
					display        : flex;
				    justify-content: flex-start;
				    align-items    : center;
				    line-height    : 100%;					

					height         : #{$text-sizer*2}rem;
				    width          : 100%;				   
				    padding-left   : #{$text-sizer*.6}rem;

					outline        : 0;
					text-decoration: none;

				    svg{
				    	font-size: $small-text-size; 
				    	opacity:.4;
				    }

				    span{
				    	padding-left: #{$text-sizer*.4}rem;
				    }

				    &:hover{
				    	background-color: $ui-highlight-bg;
						color           : $ui-highlight-color;
						text-decoration : none;
						outline         : 0;

						svg{					     
					    	opacity:.85;
					    }
				    }
				}
				
				.router-link-exact-active{
					background-color: darken( $pri-bright-ui-bg-color, .2);
					color           : $pri-bright-ui-bg-text-color;

					&:after {
						content           : '';
					    position          : absolute;
					    top               : #{$text-sizer*.4}rem;
					    right             : 0;
					    width             : 0;
					    height            : 0;
					    border            : #{$text-sizer*.6}rem solid transparent;
					    border-right-color: #ffffff;
					    border-left       : 0;
					}
				}


			}
		}		
	}

	&__content{
		padding-top: #{$text-sizer*2}rem;
	}


	.fa-icon {
	  width: auto;
	  height: 1em; /* or any other relative font sizes */

	  /* You would have to include the following two lines to make this work in Safari */
	  max-width: 100%;
	  max-height: 100%;
	}
 
}