@import "vars.scss";

.f-archives-pagination{
	display: flex;
    justify-content: flex-end;
	border-top: none;
	
	.pagination{
		padding: 0;
		border-top: none;
	}

	ul{
	   transform: scale(0.8) translate(25%);
 	   transform-origin: left bottom;
	}
}