@import "vars.scss";

.f-archives-filters{
	padding-bottom: #{$text-sizer*2}rem;	

	.filter-cols{
		label, input{
			font-size: $small2-text-size;				
		}
		.filter-input{
			padding: #{$text-sizer*.3}rem;	
		}
	}

}