.g-calculation-save-panel{

	.save-panel{
		width: 100%;
	    display: flex; 
	    text-align: end;
	    justify-content: flex-end;
	    margin-top: 2rem;
	}
 
	.bussy-spinner{
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    padding: 5rem;
	    font-size: 4rem;
	    opacity: .5;
	}
}