@import "vars.scss";

.k-pdf-sent-notifications{
	
 
	.alert{
		ul{
			padding-left: 4rem;
			
			li{	
				list-style: none;
				position: relative;

				.checkbox-icon{
					position: absolute;
					transform: translateX( #{$text-sizer*-1.6}rem );
				}

				a{
					text-decoration: none; 
				}

			}
		 }
	}

}