@import "vars.scss";  

.login-form{
	display: flex;
	flex-direction: column;
	min-height: #{$text-sizer*15}rem;

	> div {
		text-align: right;
	}

	input{
		font-size: $normal-text-size;
		margin-bottom: #{$text-sizer*.4}rem; 
		
	}

	.line{
		display: flex;
		justify-content:space-between;
		align-items:baseline;

		svg{
			padding-right: #{$text-sizer*.6}rem; 
		}

		input{
			width: 90%;
		}
	}

	.bussy-screen{

		svg{
			opacity: .3;
		}
	}
}