@import "vars.scss";

.x-markups-input-form{

	margin-top   	: 1rem;
	margin-bottom	: 1rem;

	ul{
		list-style: none;

		li{
			display: flex;
			justify-content: space-between;
			align-items: baseline;

			label:first-of-type{
				width: 30%;
				margin: 0;
				padding: 0;
				font-size: $small2-text-size;
				font-weight: normal;
				min-width: #{$text-sizer*7}rem;
				
				line-height: $small-text-size;
			}

			label.unit{
				width: 5%;
				margin: 0;
				padding: 0 0 0 #{$text-sizer*.3}rem;
				font-size: $normal-text-size;
				font-weight: normal;
				min-width: #{$text-sizer*1}rem;
				
				line-height: $normal-text-size;
			}

			input[type="number"]{
				font-weight: bold;
				font-size: $small-text-size;
				color: $darkest-text-color;

				margin: 0.15rem 0;
    			padding: 0.25rem;
			}
		}
	}
}