<div id="app-gcalcui">
  
<h1>{{badLogin}}</h1>


<div class="container-fluid">
  
  <div class="row" v-if="user" >    
    <div class="col-lg-2">

      <ul>
        <li><router-link to="/">Dashboard</router-link></li>
        <li><router-link to="/calculation">Kalkulacja</router-link></li>
        <li><router-link to="/archives">Archiwum</router-link></li>
        
      </ul>
      
      
      

    </div>
    <div class="col-lg-10">
      <router-view></router-view>
    </div>
  </div>

<!-- login form -->
  <div class="row" v-else >    
   
    <div class="col-lg-12">
      <login-form></login-form>
    </div>
  </div>


</div>


</div>