<div id="app-gcalcui" class="app-gcalcui">
  


  <b-container fluid v-if="user">
      <b-row>
        <b-col cols="12" class="app-gcalcui__top-bar">
          app-gcalcui__top-bar
        </b-col>
      </b-row>
      <b-row>
        
          <b-col cols="4" md="2" xl="2" class="app-gcalcui__left-menu">
            <ul>
              <li><router-link to="/"><icon name="home"></icon> <span>Dashboard</span> </router-link></li>
              <li><router-link :to="{name:'new_calculation'}"><icon name="calculator"></icon> <span>Nowa kalkulacja</span> </router-link></li>
              <li><router-link :to="{name:'save_calculation'}"><icon name="floppy-o"></icon> <span>Schowek</span> </router-link></li>
              
              <li><router-link :to="{name:'show_archives'}"><icon name="archive"></icon> <span>Archiwum</span> </router-link></li>
              
            </ul>
          </b-col>

          <b-col class="app-gcalcui__content">
            <router-view ref="router-view"></router-view>
          </b-col>

      </b-row>

  </b-container>

  <b-container fluid v-else>
      <b-row>        
          <b-col>
            <login-form></login-form>
          </b-col>
      </b-row>

  </b-container>




</div>



